html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
};

/* Menu Drop-down */
.dropdown-item:first-child{
  margin-top: -10px;
}

.dropdown-item:last-child{
  margin-bottom: -10px;
}

.dropdown-item:hover{
  font-weight: bolder;
  color: #fff;
}

/* Game va Follow */
#follow img:hover, #game img:hover {
  transform: scale(1.1);
}

#game img, #follow img{
  height: 90%;
}

#fb:hover{
  background-color: rgb(36, 111, 209);
}

#yt:hover{
  background-color: #ff0000;
}

#ins:hover{
  background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

#twi:hover{
  background-color: #1da1f2;
}

.btn, #follow .img{
  box-shadow: 3px 4px 5px rgba(150, 150, 150, 0.5);
}

#game .badge{
  opacity: 0.8;
}

/* Nút quay về đầu trang */
#toTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 25px;
  z-index: 99;
  color: #000;
  cursor: pointer;
}

#toTopBtn:hover {
  color: rgb(36, 111, 209);
}

footer{
  background-image: url("img/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 70%;
}

footer #footer{
  background-color: rgba(6, 6, 6, 0.7);
}

/* Form đăng ký */
#premium{
  background-image: url("img/premium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#premium #pre-overlay{
  background-color: rgba(6, 6, 6, 0.5);
}

#premium input{
  background: none; 
  border: none;
  border-bottom: 1px #007bffbe solid;
  margin-top: 20px;
  border-radius: 0;
}

#premium .card{
  border: none;
}

#accordion .card{
  background: white;
  margin-bottom: -5px;
}

/* Form đăng nhập */
.acc {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.pwd {
  margin-top: -3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-link:hover{
  color: red;
}

/* Side Menu */
.navbar-side {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    text-align: center;
    background-color: white;
    z-index: 2;
}

.navbar-body a:hover{
  color: red;
  text-decoration: none;
}


/* Slider */
.card-img-overlay h1{
  text-shadow: 7px 5px 7px black;
}